---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
{
    name: "Founding Memeber - Temporary Until Physical Location",
    price: {
      monthly: "$125/mo",
      annual: "$1500",
      discount: "17%",
      original: "$150",
    },
    popular: true,
    features: [
      "Monthly Member Events",
      "Private Messaging Channels",
      "Extensive Involvement Opportunities",
      "Support and Create Something Special",
      "Satisfaction of Helping Start a Movement",
    ],
    button: {
      text: "Join Now",
      link: "https://lns.lightningshops.io/apps/3otbAyyp3TDiurkXSgCD9s1MdmGB/pos",
    },
  },
  {
    name: "Public",
    price: "Free",
    popular: false,
    features: [
      "Free & Ticketed Events",
      "Public Content and Seminars",
      "Open Source Documentation",
      "Newsletter",
      "and more...",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Member",
    price: {
      monthly: "$150/mo",
      annual: "$1800",
      discount: "0%",
      original: "$150",
    },
    popular: false,
    features: [
      "Exclusive Events & Seminars",
      "Private Messaging Channels",
      "Shared Desk and Lounge Space",
      "Coworking and Creator Amenities",
      "Physical Community",
      "Networking",
      "Nostr Verification",
      "+ Free Benefits & more...",
    ],
    button: {
      text: "Apply for Membership",
      link: "",
    },
  },
  {
    name: "Add-Ons",
    price: "Custom",
    popular: false,
    features: [
      "Reserved Desk / Office Space",
      "Host your Own Events & Seminars",
      "Sponsorship Opportunities",
      "Consignment Merchandising",
      "Lightning Channel Liquidity",
      "One on One Education",
      "+ Member Benefits & more...",
    ],
    button: {
      text: "Contact us",
      link: "",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Membership</Fragment>
      <Fragment slot="desc"> Simple Pricing. No Surprises. <br/> <br/>
        <br/>We’re building The Space. Become a founding member by paying predues to help us create this from the ground up. <br/>
      </Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-3 gap-6 mx-auto max-w-6xl mt-12">
      <div class="md:col-span-3 md:mb-8">
        <PricingCard plan={pricing[0]} />
      </div>
      {pricing.slice(1).map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>

