---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Public",
    price: "Free",
    popular: false,
    features: [
      "Access to Public Telegram",
      "Invite to Free Public Events",
      "Use of Public Infrastructure",
      "Access to Newsletter",
      "Peer to Peer Trading",
      "Be a part of the community",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Member",
    price: {
      monthly: "$150",
      annual: "$1800",
      discount: "0%",
      original: "$150",
    },
    popular: true,
    features: [
      "All Free Features",
      "Access to Member Events",
      "Access to Private Telegram",
      "Floating Desk Space",
      "Nostr Verification",
      "Priority Tech Support",
    ],
    button: {
      text: "Get Started",
      link: "https://dues.denver.space",
    },
  },
  {
    name: "Add-Ons",
    price: "Custom",
    popular: false,
    features: [
      "Reserved Desk Space",
      "Lightning Channel Liquidity",
      "Host your Own Events",
      "Sponsorship Opportunities",
      "Consignment Merchandising",
      "and more..",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Membership</Fragment>
      <Fragment slot="desc"> One Membership. No Surprises. </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
