---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Public",
    price: "Free",
    popular: false,
    features: [
      "Public Messaging Channels",
      "Free Events",
      "Newsletter",
      "Community",
      " ",
      " ",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Member",
    price: {
      monthly: "$150",
      annual: "$1800",
      discount: "0%",
      original: "$150",
    },
    popular: true,
    features: [
      "Member only Events & Seminars",
      "Floating Desk Space",
      "Facility Amenities",
      "Private Messaging Channels",
      "Nostr Verification",
      "Professional Networking",
      "All Free Features",
      "and more...",
    ],
    button: {
      text: "Get Started",
      link: "https://dues.denver.space",
    },
  },
  {
    name: "Add-Ons",
    price: "Custom",
    popular: false,
    features: [
      "Reserved Desk / Office Space",
      "Lightning Channel Liquidity",
      "Host your Own Events",
      "Sponsorship Opportunities",
      "Consignment Merchandising",
      "and more..",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Membership</Fragment>
      <Fragment slot="desc"> Simple Membership. No Surprises. </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
