---
import Layout from "@layouts/Layout.astro";
const title = "Sign in";
---

<Layout title={title}>
  <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center">
    <section class="sign-in-card bg-gradient border-4 border-[#ffffff] rounded-lg p-6 transition-transform duration-500 ease hover:transform hover:translate-y-1 w-full max-w-md">
      <h1 class="font-semibold text-2xl text-white w-full mb-1">
        {title}
      </h1>
      <form
        action="/api/auth/signin"
        method="post"
        class="grid grid-cols-1 gap-3 w-full"
      >
        <div class="grid grid-cols-1 gap-2">
          <label for="email" class="font-medium text-white text-sm"
            >Email</label
          >
          <input
            id="email"
            type="email"
            name="email"
            class="rounded-md py-1 px-3 border bg-zinc-50 border-zinc-300 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:bg-white focus:ring-opacity-60"
          />
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label for="password" class="font-medium text-white text-sm"
            >Password</label
          >
          <input
            id="password"
            type="password"
            name="password"
            class="rounded-md py-1 px-3 border bg-zinc-50 border-zinc-300 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:bg-white focus:ring-opacity-60"
          />
        </div>
        <button
          type="submit"
          class="bg-zinc-900 border-zinc-900 py-1.5 border rounded-md mt-2 text-zinc-100 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed"
          >Sign In</button
        >
      </form>
    </section>
  </main>
</Layout>

<style>
  .bg-gradient {
    background: linear-gradient(135deg, #E51F5D, #F68830, #F5D54C, #FDE3B7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
  }
  .bg-gradient:hover {
    transform: translateY(-5px);
  }
  .sign-in-card {
    background: linear-gradient(135deg, #E51F5D, #F68830, #F5D54C, #FDE3B7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
  }
  .sign-in-card:hover {
    transform: translateY(-5px);
  }
</style>