---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Co-working Space",
    description:
      "Our member-accessed facility will offer flexible and private workspaces with a welcoming community of bitcoiners to develop and collaborate with.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Events and Workshops",
    description:
      "We host a variety of bitcoin and freedom focused events, from educational presentations and happy hour social gatherings to weekend workshops.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Amenities",
    description:
      "At The Space, you'll find a content studio, lounge, workshop and kitchen, along with both shared and dedicated desk space. Perfect for working and socializing.",
    icon: "bx:bxs-data",
  },
  {
    title: "Extensive Resources",
    description:
      "Surround yourself with the brightest bitcoin tech minds in the region. Chances are, we know the expert you're looking for.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description: "Socialize, network, co-work and build real life relationships with the best in the space.",
    icon: "bx:bxs-user",
  },
  {
    title: "Simple Membership",
    description:
      "A baseline membership fee makes for transparent, fair access to all. Extra services are available for additional fees",
    icon: "bx:bxs-bot",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    A Community Hub - Built by and for Bitcoiners
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    What do you do in The Space?
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
