---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
{
    title: "Events and Education",
    description:
      "We host a variety of bitcoin and freedom focused events, from educational presentations and happy hour social gatherings to weekend workshops.",
    icon: "bx:bxs-window-alt",
  },
{
    title: "Working Space",
    description:
      "Our member-accessed facility offers flexible and private workspaces with a welcoming community of bitcoiners to build and collaborate with.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Amenities",
    description:
      "Lounge space, content resources, conference rooms and kitchens, with shared desk space througout. We have it all. Perfect for working and socializing.",
    icon: "bx:bxs-home",
  },
  {
    title: "Extensive Resources",
    description:
      "Surround yourself with the brightest bitcoin tech minds in the West. Chances are, we know the expert you're looking for.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description: "Build meaningful relationships with the best in the industry. Want to surround yourself with bitcoiners? This is the place.",
    icon: "bx:bxs-user",
  },
  {
    title: "Simple Membership",
    description:
      "Base membership makes for transparent, fair access to all. Full time co-working access is available for power users.",
    icon: "bx:bxs-badge-check",
  },
];
---

<div class="mt-0 md:mt-0 lg:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    A Community Hub - Built by and for Bitcoiners
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    What do you do in The Space?
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
