<footer class="bg-black py-6 text-center">
  <a href="/">
    <img src="/assets/branding/Logos/TheSpace_Logos_Full_5.png" alt="The Space Logo" class="mx-auto mb-0" style="width: 100px; height: auto;" />
  </a>
  <p class="text-center text-sm text-white pb-6">
    Copyright © {new Date().getFullYear()} The Space Corporation. All rights reserved.
  </p>
</footer>
