---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Supported by bitcoin companies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-14" name="simple-icons:bitcoin" />
    <Icon class="h-8 md:h-14" name="simple-icons:bitcoin" />
    <Icon class="h-8 md:h-14" name="simple-icons:bitcoin" />
    <Icon class="h-8 md:h-14" name="simple-icons:bitcoin" />
    <Icon class="h-8 md:h-14" name="simple-icons:bitcoin" />
    <Icon class="h-8 md:h-14" name="simple-icons:bitcoin" />
    <Icon class="h-8 md:h-14" name="simple-icons:bitcoin" />
  </div>
</div>
