---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24 mb-10">
  <h2 class="text-center text-slate-500">Supported by bitcoin organizations</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-12 w-12 md:h-20 md:w-20" name="simple-icons:bitcoin" />
    <Icon class="h-12 w-12 md:h-20 md:w-20" name="simple-icons:bitcoin" />
    <Icon class="h-12 w-12 md:h-20 md:w-20" name="simple-icons:bitcoin" />
    <Icon class="h-12 w-12 md:h-20 md:w-20" name="simple-icons:bitcoin" />
    <Icon class="h-12 w-12 md:h-20 md:w-20" name="simple-icons:bitcoin" />
    <Icon class="h-12 w-12 md:h-20 md:w-20" name="simple-icons:bitcoin" />
  </div>
</div>
