---
import { Tick } from "@components/ui/icons";
import Link from "@components/ui/link.astro";

const { plan } = Astro.props;
const isComingSoon = plan.name !== "Become a Sponsor" && plan.name !== "Founding Member - Temporary Until Physical Location";
const isTemporaryOption = plan.name === "Founding Member - Temporary Until Physical Location";
const isSponsorCard = plan.name === "Become a Sponsor";
const isLowerTier = ["Public", "Member", "Add-Ons"].includes(plan.name);
---

<div class="flex flex-col h-full">
  <div class={`flex flex-col w-full order-first lg:order-none border-4 border-[#ffffff] py-10 px-6 rounded-md relative ${isLowerTier ? 'bg-[#ffffff] border-[#ffffff]' : isSponsorCard || isTemporaryOption ? 'bg-gradient' : 'bg-[#D9314A] border-[#000000]'}`} style={`min-height: ${isSponsorCard ? '350px' : (isTemporaryOption ? '450px' : '600px')}`}>
    <div class={`absolute top-0 left-0 px-2 py-1 bg-blue-500 text-white rounded-br-md ${isComingSoon ? '' : 'hidden'}`}>Coming Soon</div>
    <div class="text-center mb-8">
      <h4 class={`text-lg font-medium ${isLowerTier ? 'text-black' : 'text-white'}`}>{plan.name}</h4>
      <p class={`mt-3 text-4xl font-bold ${isLowerTier ? 'text-black' : 'text-white'} md:text-4xl`}>
        {plan.price && typeof plan.price === "object" ? plan.price.monthly : plan.price}
      </p>
    </div>
    <div class="flex-grow flex flex-col justify-center">
      <ul class="space-y-4 mx-auto">
        {plan.features.map((item) => (
          <li class={`flex items-center gap-3 ${isLowerTier ? 'text-black' : 'text-white'}`}>
            <Tick class="w-6 h-6" />
            <span>{item}</span>
          </li>
        ))}
      </ul>
    </div>
    <div class="mt-8 flex justify-center">
      <Link href={plan.button.link || "#"} block style={plan.popular ? "primary" : "outline"}>
        {plan.button.text || "Get Started"}
      </Link>
    </div>
  </div>
</div>

<style>
  .flex-grow {
    flex-grow: 1;
  }

  .bg-gradient {
    background: linear-gradient(135deg, #E51F5D, #E51F5D, #F68830,#F5D54C, #FDE3B7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
  }

  .bg-gradient:hover {
    transform: translateY(-5px);
  }
</style>