---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "The Space"
  : "The Space - Denver's Premier Bitcoin Venue";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="The Space is Denver's Premier Bitcoin community hub, event center, and coworking space."
      canonical={canonicalURL}
      twitter={{
        creator: "@spacedenver",
        site: "@@spacedenver",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `The Space - Denver's Premier Bitcoin Venue`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "The Space Logo",
        },
      }}
    />
  </head>
  <body class="min-h-screen flex flex-col">
    <!-- Navbar with proper spacing -->
    <div class="container mx-auto px-4">
      <Navbar />
    </div>
    
    <!-- Main content area -->
    <main class="flex-grow">
      <slot />
    </main>
    
    <!-- Footer area -->
    <Footer />

    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      /* Ensure the footer is always at the bottom and the background is black */
      body {
        background-color: white;
      }

      footer {
        background-color: black;
      }

      /* Additional styles to prevent margin collapse */
      main {
        display: flex;
        flex-direction: column;
      }
    </style>
  </body>
</html>
